@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;500;600;700;800;900&family=Bree+Serif&family=Cinzel:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700;800;900&family=Libre+Franklin:wght@400;500;600;700;800;900&family=Passion+One:wght@400;700;900&family=Permanent+Marker&family=Roboto+Slab:wght@400;500;600;700;800;900&family=Sanchez&family=Titan+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

body{
    
}

img{
    max-width: 100%;
}


#header{
    
    display: flex;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    
}

#navlogo img{
    width: 70px;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 80px;
   
}

#menu{
    display: flex;
    padding: 28px;
    margin-top: 5px;
    list-style: none;
    gap: 30px;
    
    
}

#menu a{
    text-decoration: none;
    color: #f4f4f4;
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 1.5px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
    
       
}

#menu a:hover{
    color: red;
}

#btn-mobile{
    padding: 18px;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 10px;
    display: none;
}

#navlogo{
    position: absolute;
    left: 47%;
    top: 2px;
}


videobackground{
    height: 100vh;
    width: 100vw;
  
}


video{
    width: 100%;
    height: 100%;
}

#videobackground2{
    display: none;
}

#navlogopreto{

   display: none;
}

@media (max-width: 1000px){

    #header{
	
	height: 170px;
	
    }

    #nav{
	height: 170px;
    }
 

   
    #videobackground{
	display: none;
    }

    
    
    #videobackground2{
 display: block;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;

	
    }

    video{
	width: 100%;
	height: 100%;
    }
    
    #btn-mobile{
	display: flex;
	position: absolute;
	top: 40px;
	left: 20px;
    }
   

    #menu{
	display: flex;
	flex-flow: column nowrap;
	position: absolute;
	z-index: 1000;
	top: 165px;
	left: -1000px;
	width: 100%;
	background: #030321;
	justify-content: center;
	align-items: center;
	gap: 260px;
	transition: all 0.7s;
	height: 0px;
	visibility: hidden;
	overflow-y: hidden;
    }

    #nav.active #menu{
	display: flex;
	flex-flow: column nowrap;
	height:100vh;
	transition: .7s;
	visibility: visible;
	transform: translateX(1000px);
	
    }

    #menu a{
	font-size: 45px;
	
    }

    #navlogo{
	left: 420px;
	top: 4px;
	display: block;
	position: absolute;
    }

    #navlogo img{
	width: 150px;
	left: -120px;
	
    }

   

    #btn-mobile{
	display: block;
	padding: 1.5rem 1rem;
	border: none;
	background: none;
	top: 16px;
	width: 150px;
	height: 80px;
	
    }

   

}


